h1 {
    margin-top: 90px;
    color: var(--bg-blue-l);
    text-align: center;
}
.cursos-gratis {
    box-shadow: 0px -2px 2px var(--bg-blue-l);
    margin: 30px 0px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
/*---------------INFO ------------------ */
.container-info {
    font-family: var(--press2p);
    width: 310px;
    height: auto;
}
.info-titulo {
    color: white;
    padding-left: 10px;
    font-size: 28px;
    text-shadow: 0px 0px 3px white;
}
.info-des {
    color:#8da2c0;
    padding-left: 10px;
    font-size: 18px;
}
/*---------------CURSOS-------------------*/
.container-cursos {
    width:80%;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
}
@media (max-width: 1600px){
    .container-cursos{
        width: 75%;
    }
}
@media (max-width: 1250px){
    .container-cursos{
        width: 70%;
    }
}
@media (max-width: 1050px){
    .container-cursos{
        width: 65%;
    }
}
@media (max-width: 900px){
    .container-cursos{
        width: 50%;
    }
}
@media (max-width: 620px){
    .container-cursos{
        width: 100%;
    }
}
.curso:hover{ 
        transition: 0.4s;
        background: black;
        position: relative;
        border: 2px solid rgb(48,177,255);
}
.curso {
    text-decoration: none;
    border-radius: 32px;
    border: 2px solid rgb(14,77,156);
    background-color: var(--bg-dark-blue);
    color: white;
    font-family: 'Courier New', Courier;
    width: 305px;
    height: auto;
    margin: 10px 2px;
    text-align: center;
}
.c-name {
    color: rgb(104, 204, 240);
    font-size: 26px;
    display:flex;
    padding: 8px 10px 0;
    align-items: center;
    justify-content: space-between;
}
.c-des {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size: 17px;
    padding: 8px;
}
.c-subname {
    font-weight:900;
    width: 220px;
}
.series{
    font-size: 12px;
    color: gold;
}
.svgCursosE{
    width: 68px;
}
.foot {
    margin-top: 0px;
    position: relative !important;
    top: 0;
    padding-bottom: 30px;
}